/*.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product div {
    width: calc(30% - 10px);
    margin-bottom: 40px;
  }
  
  .product img {
    width: 100%;
    max-height: 200px; /* Adjust this value as needed */
    /*object-fit: cover;*/ /* Adjust this property as needed 
  }
  
  .product p {
    text-align: center;
  }    */

  .product-card-image {
    max-width: 100%;
    height: auto;
  }